<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/voters.css">
    <title>Voters</title>
</head>

<body>
    <div id="header">
        <h1>Registered Voters</h1>
    </div>
    <button><a href="/home">go back </a></button>

    <!-- <nav>
        <a href="/home">Home</a> |
        <a href="/vote">Vote</a> |
        <a href="/candidates">Candidates</a> |
        <a href="/parties">Parties</a>
    </nav> -->

    <main>
        <h2>List of Registered Voters</h2>

        <table>
            <thead>
                <tr>
                    <th>Voter ID</th>
                    <th>National ID</th>
                    <th>surname</th>
                    <th>First Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <% if (voters && voters.length> 0) { %>
                    <% voters.forEach(voter=> { %>
                        <tr>
                            <td>
                                <%= voter.VoterID %>
                            </td>
                            <td>
                                <%= voter.NationalID %>
                            </td>
                            <td>
                                <%= voter.FirstName %>
                            </td>
                            <td>
                                <%= voter.Surname %>
                            </td>
                            <td>
                                <%= voter.Gender %>
                            </td>
                            <td>
                                <%= voter.Age %>
                            </td>
                        </tr>
                        <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="3">No voters found in the database.</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
    </main>
</body>

</html>